.postsPage{
    @include reactPage;
    padding: 40px;
}

.postsContainer{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
    width: 40rem;
    padding: 20px;
}
