.login{
    &-container {
       
        
        @include reactPage;
    }

    &__card{
        @include absCenter;
        border-radius: 10px;
        box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
        background-color: white;
        width: 40rem;
        height: 20rem;
        transition-property: all;
        transition-duration: 0.2s;
        

        &:hover{
            transform: translate(-49.8%,-50.3%);
            box-shadow: 8px 8px 18px rgba(0,0,0,0.5);
        }
        
    }

    &__title{
        font-weight: 200;
        widows: 200px;
        margin-top: 10px;
        color: $color-steel-blue;
        font-size: 3.5rem !important;
    }

    &__sologran{
        font-size: 1.8em;
        font-weight: 400;
        margin-top: 17px;
        width: 70%;
        padding-bottom: 24px;
        border-bottom-color: $color-dark-blue;
        border-bottom-width: 1.2px;
        border-bottom-style: solid;
    }

    &-btn{
        margin-top: 20px;
        padding: 4px;
    }

    
    
}
